.service-title {
    text-align: center;
    color: #0275d8;
    margin-top: 30px;
    margin-bottom: 30px;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;

}

/* responsive homepage */
@media screen and (max-width:640px) {
    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (min-width:641px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width:1008px) {
    .services-container {
        grid-template-columns: repeat(3, 1fr);
    }

}